<h1>Countries</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>People</th>
    </tr>
  </thead>
  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.id %></td>
        <td><%= country.name %></td>
        <td>
        <% country.people.each do |person| %>
          <%= person.name %>|<%= person.gender %><br> 
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>