<div class="row">
  <div class="col-md-3">
    <strong>Material:</strong><%= material.name %>
  </div>
  <div class="col-md-3">
    <%= link_to 'Show', material %>
  </div>      
  <div class="col-md-3">
    <%= link_to 'Edit', edit_material_path(material) %>
  </div>
  <div class="col-md-3">
    <%= link_to 'Destroy Material', material,
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
  </div>
</div>  